/*--------------------------------
works
--------------------------------*/
.works {
  margin-bottom: (318/$pc)*100vw;
  @include sp {
    margin-bottom: (68/$sp-w)*100vw;
    padding-top: (66/$sp-w)*100vw;
  }
  &__text {
    margin: 26px 0 68px;
    font-size: 1.6rem;
    color: $color-black-2;
    @include sp {
      margin: 12px 0 26px;
      font-size: 10px;
    }
  }
  .media {
    display: flex;
    margin-bottom: 97px;
    @include sp {
      flex-direction: column;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__thumbnail {
      width: (388/$pc)*100vw;
      height: (254/$pc)*100vw;
      margin-right: (84/$pc)*100vw;
      position: relative;
      @include sp {
        width: (335/$sp-w)*100vw;
        height: (220/$sp-w)*100vw;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(43, 43, 43, .62);
      }
    }
    &__catch {
      width: fit-content;
      font-family: $notosans;
      font-size: (81/$pc)*100vw;
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include sp {
        font-size: (69/$sp-w)*100vw;
        line-height: (220/$sp-w)*100vw;
      }
    }
    .plus {
      &::before {
        content: '+';
        position: absolute;
        top: (20/$pc)*100vw;
        left: -(60/$pc)*100vw;
        font-size: (60/$pc)*100vw;
        @include sp {
          left: -(60/$sp-w)*100vw;
          font-size: (69/$sp-w)*100vw;
        }
      }
    }
    .rank {
      &::after {
        content: '位';
        position: absolute;
        right: -(30/$pc)*100vw;
        bottom: (10/$pc)*100vw;
        font-size: (30/$pc)*100vw;
        @include sp {
          font-size: (20/$sp-w)*100vw;
          right: -(20/$sp-w)*100vw;
          bottom: -(20/$sp-w)*100vw;
        }
      }
    } 
    &__body {
      width: (640/$pc)*100vw;
      @include sp {
        width: (335/$sp-w)*100vw;
      }
    } 
    &__name {
      margin-bottom: 14px;
      font-size: 2.4rem;
      color: $color-black;
      font-weight: normal;
      @include sp {
        margin-top: 22px;
      }
    }
    &__tag {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 22px;
      padding: 10px 14px;
      font-size: 1.2rem;
      background-color: $color-white-2;
      @include sp {
        margin-bottom: 18px;
        padding: 6px 14px;
        font-size: 10px;
      }
    }
    &__info {
      margin-bottom: 26px;
      font-size: 1.6rem;
      font-weight: bold;
      @include sp {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
    &__text {
      font-size: 1.6rem;
      @include sp {
        font-size: 10px;
      }
    }
  }
}

